@model WebApp.Models.Citizen

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <img src="~/Imagenes/Ine Logo.png"><img align="Right" src="~/Imagenes/CEE Logo.png">

    <center>
        <font size=12>
            <strong>
                Registrate
            </strong>
        </font>
    </center>

    <body>
        <font size="6" face="arial">
            <b>
                Ingresa Los datos para acceder a tu cuenta de INE
            </b>
            <br>
        </font>
        <br>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.ElectroKey, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ElectroKey)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CIC, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CIC)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aceptar" class="btn btn-default" />
                </div>
            </div>
            <div><img src="~/Imagenes/CLave de Elector.png" /> <img src="~/Imagenes/CIC.png" /></div>
        </div>
    </body>
}

